name: Dead Code

on:
  pull_request:
    branches: ['main']

jobs:
    dead-code:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 20
            - name: Setup pnpm
              uses: pnpm/action-setup@v4
            - name: Setup pnpm cache
              uses: actions/cache@v4
              with:
                path: ~/.pnpm-store
                key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                restore-keys: |
                  ${{ runner.os }}-pnpm-store-
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Knip
              run: |
                pnpm add -g knip@5.67.1
                pnpm run knip --workspace apps/web